<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="REP.My.MySettings.PruebasCfdiPagosConnectionString"
            connectionString="Data Source=DSA4-PC\COMPAC2014;Initial Catalog=PruebasCfdiPagos;Persist Security Info=True;User ID=sa;Password=COMPAC"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>